
@{
    ViewBag.Title = "My Profile Page";
}
@model Microsoft.AspNetCore.Identity.IdentityUser
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.validate.unobtrusive.min.js"></script>
}


@using (Html.BeginForm())
{
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <b> @Html.Label("User Name:")</b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.UserName)
        </div>
        <b> @Html.Label("Locked Out:")</b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.LockoutEnabled)
        </div>
        <b> @Html.Label("Phone Number:")</b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </div>
        <b> @Html.Label("Email Id:")</b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    <button class="btn btn-light"><a asp-controller="Account" asp-action="ChangePassword" class="nav-link" style="color:lightseagreen; font-size:15px; font-weight:bold">Change Password &nbsp;<i class="fas fa-users"></i></a></button>
</div>
}

<div>
    @Html.ActionLink("Back to List", "NMIManagement")
</div>